<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airquality.VisionAir">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="VisionAir"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main2Activity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".InfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Predict_Train"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name=".CameraActivitynoHDR"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name=".HdrViewfinderActivity"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>